* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: azo-sans-web, sans-serif;
  background-color: black;
  background-image: url(/imagenes/base-universo.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
 
}

h1, h2, h3, h4, h5 {
  color: azure; }

li a {
  text-decoration: none; }



.hero {
  display: flex;
  height: 50vh; }

.hero_A .hero_B {
  width: 50%;
  display: flex; }

.hero_B {
  display: flex;
  align-items: flex-start; }

.hero_title {
  display: flex;
  padding-left: 10px;
  font-size: 78px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center; }

.hero_subtitle {
  display: flex;
  padding-left: 10px;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center; }

.hero_box {
  display: flex;
  justify-content: center;
  width: 100%; }
.falsoBody{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorCanales {
  display: flex;
  padding: 30px;
  justify-content: space-between; }

.canalA .canalB {
  width: 100%;
  display: flex; }




/* REPRODUCTOR-PLAYER- */


.player {
  max-width: 700px;
  min-width: 300px;
  border-radius: 2rem;
  padding: 1rem;
  
  }



















.foot {
  background-color: rgba(12, 1, 31, 0.733);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 70px 70px;
  color: #f2edd9; }

.icon-list {
  display: flex;
  gap: 14px; }

.nav_box {
  padding-left: 120px; }


















@media screen and (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;
    width: 100%; } }

@media screen and (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem; }
  .hero_title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 45px; }
  .hero_subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px; }
  .foot {
    flex-direction: column;
    align-items: center; }
  .contenedorCanales {
    flex-direction: column; }
  .reprovideo {
    height: 50vh;
    width: 80vw;
    margin: 2rem; } }
