* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }


body {
    font-family: azo-sans-web, sans-serif;
    background-color: black;
    background-image: url(./imagenes/base-universo.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;

} 
h1, h2, h3, h4, h5{
    color: azure;
}
li a {
    text-decoration: none;
    
}