* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  

body {
    font-family: azo-sans-web, sans-serif;
    background-color: black;
    padding: 5px 150px;

} 
h1, h2, h3, h4, h5{
    color: azure;
}