
.hero{
    display: flex;
    padding: 0px 60px;
    
    
    
}    
.hero_A .hero_B {
    width: 50%;
    display: flex;
}

.hero_B{
    display: flex;
    align-items: flex-start;
}
.hero_title{
    display: flex;
    padding-left: 10px;
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;

}
.hero_box{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.section1{
    padding-left: 50px;
    padding-right: 50px;
}