// reproductor

.player {
    // background-image: linear-gradient(yellow, orange);
    // box-shadow: 2px 2px 1rem black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.controls>* {
    cursor: pointer;
}

.controls {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.button {
    background-color: transparent;
    border: none;
    color: rgba(12, 4, 59, 0.856);

}

.button i {
    font-size: 12rem;



}
.hero .hero2 .hero3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    // background-image: linear-gradient(yellow, orange);
    gap: 2rem;
    text-transform: uppercase;
}

.hero2 {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    text-transform: uppercase;
    gap: 2rem;


}

.hero3 {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    text-transform: uppercase;
    gap: 2rem;

}