.foot{
    background-color: rgba(12, 1, 31, 0.733);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 70px 70px;
    color: #f2edd9;
    
}

.icon-list{
    display: flex;
    gap: 14px;
    
}

