// ---media queries table -----
@media screen and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: column !important;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1rem;
    }

    .hero2{
        display: flex;
        flex-direction: column !important;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1rem;
    }
    .hero3 {
        display: flex;
        flex-direction: column !important;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1rem;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }



}




// --- media queries mobile-----
@media screen and (max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column !important;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1rem;
    }

    .hero2{
        display: flex;
        flex-direction: column !important;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1rem;
    }
    .hero3 {
        display: flex;
        flex-direction: column !important;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1rem;
    }





    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


    .foot {
        flex-direction: column;
        align-items: center;
    }

    .nav.controls {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;


    }



}